/*
Yummy 3D Buttons Stylesheet
Author: elemis
*/

a.button, a.button:link, a.button:visited {
	display: block;
	position: relative;
	padding: 0 10px 0 20px;
	height: 32px;
	line-height: 28px;
	text-align: center;
	background-position: 0 0;
	background-repeat: no-repeat;
	font-size: 15px;
	font-weight: normal;
	cursor: pointer;
	font-family: 'MidoMedium';
	text-decoration: none;
}
a.button span {
	display: block;
	position: absolute;
	top: 0px;
	right: -10px;
	width: 10px;
	height: 32px;
	background-position: right top;
}
a.button, a.button span {
float: left;
}
a.button:hover {
	background-position: left -32px;
	text-decoration: none;
}
a.button:hover span {
	background-position: right -32px;
	text-decoration: none;
}

a.button:active, a.buttonactive {
	background-position: left -64px;
	text-decoration: none;
	padding-top:3px;
	height: 29px;

}
a.button:active span {
	background-position: right -64px;
	text-decoration: none;
	padding-top:3px;
	height: 29px;
}

.button.pink, .button.pink span {
	background-color: black;
	color:white;
}

.button.blue, .button.blue span {
	background-color:black;
	color: white;
}

.button.purple, .button.purple span {
	background-color: black;
	color:white;
}

.button.brown, .button.brown span {
	background-color: black;
	color:white;
}

.button.rose, .button.rose span {
		background-color: black;
	color:white;
}

.button.lime, .button.lime span {
	background-color: black;
	color: white;
}
