/*
Yummy 3D Buttons Demo Stylesheet
Author: elemis
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}


/*
FONT-FACE
*/


/*
LAYOUT
*/

body {
		text-align: center;
	color: black;
}
ul
{
		text-align: center;
	padding-left: 200px;
}

li
 {
	margin: 0px;
}


.wrapper {

	width: 600px;
	margin: 0 auto;
}
.wrapper h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
	font-family: 'jottingRegular';
	font-size: 50px;
	color: black;
}

.wrapper ul {
	display: block;
	width: 100%;
	margin: 0px;
}
.wrapper li {
	display: block;
	width: 100%;
	height: 50px;
	padding-top: 10px;
}
.wrapper .logout{
	text-align: center;
padding-right: 50px;
}
